
<h3>Life Cycle Child</h3>


<hr />
@foreach (var item in EventType)
{
    @item
    <hr />
}

@code {

    List<string> EventType = new List<string>();
    [Parameter]
    public int CountValue { get; set; }



    protected override void OnInitialized()
    {
        EventType.Add("Child - OnInitialized is called");
    }

    protected override void OnParametersSet() => EventType.Add("Child - sOnParameterSet is called");
   

}
