@page "/learnBlazor/blazorJs"
@inject IJSRuntime _JsRuntime
@{
    
}
<h3>blazorJs</h3>
<div class="row">
    <button class="btn btn-secondary" hidden="@IsShown" @onclick="TestConfirmBox">Test Confirm Button</button>
</div>

<div class="row">
    @if(isClicked)
    {
        <p>Confirmation has been made!</p>
    }
    else
    {
        <p>Confirmation pending!</p>
    }
</div>

@code {
    private string ConfirmMessage = "Are you sure you want to click";
    public bool isClicked{ get; set; }
    public bool IsShown { get; set; } = false;
    private async Task TestConfirmBox()
    {
        IsShown = !IsShown;
        isClicked = await _JsRuntime.InvokeAsync<bool>("confirm", ConfirmMessage);
    }
}
