@page "/category"
@inject ICategoryRepository _categoryRepository

<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a  href="category/create" class="btn btn-primary form-control" style="width:100px">Add new Category</a>
    </div>
    <div class="col-12">
        @if(Categories.Any())
        {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var objCateg in Categories)
                    {
                        <tr>
                            <td class="card-subtitle" align="char" style="text-emphasis-style:initial">
                                @objCateg.Name
                            </td>
                            <td>
                                <NavLink href="" class="btn-primary btn">Edit</NavLink>
                            </td>
                          
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@code {
    private IEnumerable<CategoryDTO> Categories { get; set; } = new List<CategoryDTO>();

    protected override void OnInitialized()
    {
        Categories = _categoryRepository.GetAll();
    }
}
